{% extends "inicio.html" %}

{% load static %}

{% block contenidoQueCambia %}

<title>About</title>
<h3>Sobre mi</h3><br>
<div>Mi nombre es Sergio Vega, soy Ingeniero en Electronica y Telecomunicaciones. <br>
    Estoy dando mis primeros pasos en programacion y aplicaciones web, algo que siempre me gusto, pero que nunca le dedique tiempo.</div>
<p>Estoy muy entusiasmado en esta nueva etapa, apuntando a lograr grandes cosas en este rubro.</p>
<p>Tengo una hermosa familia, con 2 hijos, y me parece muy importante inspirarlos a hacer lo que les gusta, y demostrar que nunca es tarde para iniciar lo que siempre buscaste.</p>

{% endblock %}
