<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/crearJugador/" method="POST">

        <p>Jugador: <input type="text" name="jugadores"></p>
        <p>Nacionalidad: <input type="text" name="nacionalidad"></p>
        <p>Edad: <input type="number" name="edad"></p>
        <p>Titulos: <input type="number" name="titulos"></p>
        <p>Equipo: <input type="text" name="equipo"></p>

        <input type="submit" value="Enviar">    

    </form>



</body>
</html>