{% extends "inicio.html" %}

{% load static %}

{% block contenidoQueCambia %}
    
    
    <title>Equipos</title>
    <h1>Equipos</h1>
    
    
    <body>
        {% if miFormulario.errors %}
  
        <p style="color: red;"> Están mal los datos, revisar</p>
    
        {% endif %}
    
    
        <form action="" method="POST">{% csrf_token %}
    
            <!-- Acá está la magia de Django-->
            
            <table>
    
                {{ miFormulario.as_table }}
    
    
            </table>
    
    
            <input type="submit", value="Enviar">
    
        </form>
        




    </body>
    <div class="sidebar-heading border-bottom bg-light">Equipos</div>

{% endblock %}