<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Jugadores</title>
</head>
<body>


                <p>Nombre: <i>{{ jugador.nombre }} </i></p>
                <p>Nacionalidad: <i>{{ jugador.nacionalidad }} </i></p>
                <p>Edad: <i>{{ jugador.edad }} </i></p>
                <p>Equipo: <i>{{ jugador.equipo }} </i></p>
                <p>Titulos: <i>{{ jugador.titulos }} </i></p>

                <p> 
                    <a href="{% url 'List' %}">Regresar</a> 
                    
                
     
       
                </p>

  


</body>
</html>
