{% extends "inicio.html" %}

{% load static %}

{% block contenidoQueCambia %}


<p>Buscando a: {{nombre}}</p>
    {% if jugadores %}

    <ul>
    {% for jugador in jugadores %}

    <h6>Nombre: {{jugador.nombre}} <br> Edad: {{jugador.edad}} <br> Nacionalidad: {{jugador.nacionalidad}} <br> Equipo: {{jugador.equipo}} <br> Titulos: {{jugador.titulos}} </h6>
    <br>    
    {% endfor %}

    </ul>

    {% else %}

    <p>No se encuentran datos con lo ingresado </p>
    {% endif %}    

    <p style="color: red;">{{respuesta}}</p>


    {% endblock %}